{% extends "base.html" %}

{% block title %}Change Profile{% endblock %}

{% block content %}
  <h1>Change Password</h1>
  <form method="post">
    <div class="form-group">
      <label for="password">Old Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <div class="form-group">
      <label for="password1">New Password</label>
      <input type="password" class="form-control" id="password1" name="password1" required>
    </div>
    <div class="form-group">
      <label for="password2">Confirm New Password</label>
      <input type="password" class="form-control" id="password2" name="password2" required>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}