{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center font-weight-bold">target Profile</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="{{ url_for('profile_views.get_image' , user_id = target.id) }}" class="img-fluid rounded-circle">
                </div>
                <div class="col-md-8">
                  <h4 class="font-weight-bold">{{ target.first_name }} {{ target.last_name }}</h4>
                  <p><strong>Email:</strong> {{ target.email }}</p>
                  <p><strong>Gender:</strong> {{ target.gender }}</p>
                  <p><strong>target Type:</strong> {{ target.usertype }}</p>
                  {% if target.about %}
                  <p><strong>About:</strong> {{ target.about }}</p>
                  {% endif %}
               <div class="row mt-3">
                  <div class="col-md-12">
                    <h5 class="font-weight-bold">Jobs</h5>
                    <ul class="list-group">
                    {% for job in target.jobs %}
                      <li class="list-group-item">{{ job.title }}</li>
                    {% else %}
                      <li class="list-group-item">No jobs found</li>
                    {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
