{% extends 'base.html' %}
{% block title %}Job{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card mb-3">
        <div class="card-body">
          {% if user.usertype != 'Business Owner' %}
          <a href="{{ url_for('job_views.apply_job', job_id=job.id) }}" class="btn btn-primary mb-3">Apply</a>
          {% endif %}
          <h4 class="card-title">{{ job.job_name }}</h5>
          <h5 class="card-title">{{ job.job_description }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Details</h6>
          <p class="card-text">{{ job.job_details }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Payment:</strong> {{ job.job_payment }}</li>
            <li class="list-group-item"><strong>Deadline:</strong> {{ job.job_deadline }}</li>
            <li class="list-group-item"><strong>Posted by:</strong> <a href="{{ url_for('profile_views.view_profile', id=job.user.id) }}">{{ job.user.first_name }} {{ job.user.last_name }}</a></li>
          </ul>
          <h6 class="card-subtitle mb-2 text-muted">Applications</h6>
          <ul class="list-group list-group-flush">
            {% for application, user in applications %}
              <li class="list-group-item">
                <a href="{{ url_for('profile_views.view_profile', id=user.id) }}">{{ user.first_name }} {{ user.last_name }}</a>
                <div class="btn-group float-right" role="group">
                  {% if application.job_status == 'Pending' %}
                  <form action="{{ url_for('job_views.reject_application', application_id=application.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Reject</button>
                  </form>
                  <form action="{{ url_for('job_views.accept_application', application_id=application.id) }}" method="POST">
                    <button type="submit" class="btn btn-success">Accept</button>
                  </form>
                  {% endif %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% if img %}
          <img src="{{ url_for('job_views.get_job_image', job_id= job.id) }}" alt="Image" class="card-img-top">
        {% endif %}
        <div class="card-footer text-muted text-right">
         "Posted on {{ job.job_date }}</small>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}